@import "kanagawa.css";

#tray {
  margin-right: 5px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray {
  font-weight: 700;
  background-color: @background;
  color: @foreground;
  padding: 6px 10px;
  border-radius: 10px;
}
