# rclone sensitive config (если нужно)
dotfiles/rclone/.config/rclone/rclone.conf

# OpenRGB runtime
dotfiles/OpenRGB/.config/OpenRGB/logs/

# backup junk
backup/logs/
backup/temp/

# fish history
fish_history
**/fish_history*

# fish cache
.cache/fish/
**/.cache/fish/

# fish runtime state
fish_variables
**/fish_variables

# local overrides
**/conf.d/*.local.fish
**/functions/*.local.fish