[Unit]
Description=Rclone Google Drive Mount
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount Gdrive: %h/GDrive \
  --vfs-cache-mode writes \
  --vfs-cache-max-age 24h \
  --vfs-cache-max-size 10G \
  --buffer-size 32M
ExecStop=/usr/bin/fusermount3 -u %h/GDrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
