[Unit]
Description=Rclone Google Drive Mount
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount gdrive: %h/GDrive \
  --vfs-cache-mode full \
  --vfs-cache-max-age 24h \
  --vfs-cache-max-size 10G \
  --buffer-size 32M \
  --umask 022
ExecStop=/usr/bin/fusermount3 -u %h/GDrive
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
