[Unit]
Description=Rclone backup timer

[Timer]
OnCalendar=Sun 03:00
Persistent=true
AccuracySec=15m
Unit=rclone-backup.service

[Install]
WantedBy=timers.target
